# HTTP server port
PORT=8080

# Runtime environment (local / dev / staging / production)
APP_ENV=local

# Postgres connection string used at runtime (by cmd/api/main.go)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/castellan?sslmode=disable" # host= localhost | postgres

# Goose migration settings (used by goose CLI, not by the app)
GOOSE_DRIVER=postgres
GOOSE_DBSTRING="postgresql://postgres:postgres@localhost:5432/castellan" # host= localhost | postgres
GOOSE_MIGRATION_DIR=./migrations
